<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your favorite movies reviewed</h1>
    <p>Has autem provincias, quas Orontes ambiens amnis imosque pedes Cassii montis illius celsi praetermeans funditur in Parthenium mare, Gnaeus Pompeius superato Tigrane regnis Armeniorum abstractas dicioni Romanae coniunxit.
</p>
<p><%= link_to "Sign up to write a revied", new_user_registration_path, class:"btn btn-primary btn-lg" %></p>
  </div>
<% end %>
<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class:'image'), movie %>
      </div>
    </div>
  <% end %>
</div>